<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NYC Motor Collisions</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Jquery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>

    <!-- mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body>

    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NYC Motor Vehicle Collisions</a>
      </nav>

      <form class="mt-5">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Borough</label>
          <select class="form-control" id="selected_borough">
            <option value="Brooklyn">Brooklyn</option>
            <option value="Queens">Queens</option>
            <option value="Manhattan">Manhattan</option>
            <option value="Bronx">Bronx</option>
            <option value="Staten Island">Staten Island</option>
          </select>
        </div>
        <button type="button" class="btn btn-primary" id="display">Display</button>
      </form>


      <div class="container rounded border border-dark mt-5" id="map" style="width: 100%; height: 500px;">
      </div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

    <!-- display locations on map -->
    <script src="{{url_for('static', filename='js/display_locations.js')}}"></script>

    <!-- <script type="text/javascript">
      mapboxgl.accessToken = 'pk.eyJ1IjoiYmJtYXBib3giLCJhIjoiY2tmenRyeWcyMmR3eDJ5czNzcjd0MG1sMiJ9.TYbeYuIfPsb178PAPzUj0w';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/dark-v9', // stylesheet location
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
      })
    </script> -->
  </body>
</html>
